#p1{
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#p2{
    background-color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#p3{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}